openapi: 3.0.0
info:
  title: BIM-Portal REST-API für öffentliche Merkmale
  description: Dies ist die Dokumentation der öffentlichen REST-Endpunkte, die ohne vorherige Authentifizierung von externen Clients aufgerufen werden können. Die Endpunkte können auf dieser Seite getestet werden.
  version: 0.0.1
servers:
  - url: https://via.bund.de/bim
    description: Main (production) server
paths:
  /infrastruktur/api/v1/public/organisation:
    get:
      tags:
        - Organisationen
      summary: Liste aller Organisationen
      description: Diese Anfrage generiert eine Liste aller Organisationen, deren Informationen über die REST-API abgerufen werden können. Hierfür ist eine Freischaltung der Organisationen für den öffentlichen Zugriff per REST-API im Portal notwendig.
      responses:
        '200':    # status code
          description: Der Response Body dieser Anfrage liefert ein Json-Array mit Organisationsobjekten. Eine detaillierte Dokumentation der Organisationsobjekte ist dem unten stehenden Organisationsschema zu entnehmen.
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/Organisation'
        '429':
          description: Zu viele gleichzeitige Serveranfragen
  /merkmale/api/v1/public/filter:
    get:
      tags:
        - Filter
      summary: Liste aller globalen Merkmalsfiltergruppen
      description: Diese Anfrage generiert eine Liste aller globalen Merkmalsfiltergruppen.
      responses:
        '200':    # status code
          description: Der Response Body dieser Anfrage liefert ein Json-Array mit Merkmalsfiltergruppen. Jedes Merkmalsfiltergruppenobjekt enthält eine Liste einzelner Filter.  Eine detaillierte Dokumentation der Merkmalsfiltergruppen und der Filter ist den unten stehenden Schemata zu entnehmen.
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/Merkmalsfiltergruppe'
        '429':
          description: Zu viele gleichzeitige Serveranfragen
  /merkmale/api/v1/public/propertygroup:
    post:
      tags:
        - Merkmalsgruppen
      summary: Liste aller öffentlich sichtbaren Merkmalsgruppen, welche die übermittelten Filterkriterien erfüllen
      description: Liefert alle Merkmalsgruppen, die zu den Suchparametern passen
      requestBody:
        description: Im Request Body dieser Anfrage werden die gewünschten Suchfilterkriterien angeben. Eine detaillierte Dokumentation der Suchfilter ist dem unten stehenden Suchfilterschema zu entnehmen.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Suchfilter'
      responses:
        '200':    # status code
          description: Der Response Body dieser Anfrage liefert ein Json-Array mit den Kurzinformationen der öffentlich sichtbaren Merkmalsgruppen zurück, welche die übermittelten Suchfilterkriterien erfüllen. Die Ergebnisse sind aufsteigend nach Namen sortiert. Eine detaillierte Dokumentation der Kurzinformationsobjekte ist dem unten stehenden Kurzinformationsschema zu entnehmen.
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/Kurzinformation'
        '429':
          description: Zu viele gleichzeitige Serveranfragen        
  /merkmale/api/v1/public/propertygroup/{guid}:
    get:
      tags:
        - Merkmalsgruppen
      summary: Merkmalsgruppe
      description: Liefert die Merkmalsgruppe mit der gesuchten GUID
      parameters:
        - in: path
          name: guid
          schema:
            type: string
            format: uuid
          required: true
          description: GUID der Merkmalsgruppe
      responses:
        '200':    # status code
          description: Ein JSON-Objekt der gesuchten Merkmalsgruppe
          content:
            application/json:
              schema: 
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  guid:
                    type: string
                    format: uuid
                  status:
                    type: string
                  propertyStatus:
                    type: string
                  dateOfCreation:
                    type: string
                  dateOfActivation:
                    type: string
                  dateOfLastChange:
                    type: string
                  dateOfRevision:
                    type: string
                  dateOfVersion:
                    type: string
                  dateOfDeactivation:
                    type: string
                  versionNumber:
                    type: integer
                  revisionNumber:
                    type: integer
                  replaces:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        namesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        propertyStatus:
                          type: string
                  replacedBy:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        namesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        propertyStatus:
                          type: string
                  deprecationExplanation:
                    type: string
                  relationOfThePropertyGroupIdentifiersInTheInterconnectedDictionaries:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version:
                        type: integer
                      createdDate:
                        type: string
                      propGroupID:
                        type: string
                      interConDictID:
                        type: string
                  creatorsLanguage:
                    type: object
                    properties:
                      code:
                        type: string
                      language:
                        type: string
                      country:
                        type: string
                  namesInLanguage:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        language:
                          type: string
                        languageName:
                          type: string
                        countryName:
                          type: string
                  definitionsInLanguage:
                    type: array
                    items:
                      type: object
                      properties:
                        definition:
                          type: string
                        language:
                          type: string
                  visualRepresentations:
                    type: array
                    items:
                      type: string
                  countryOfUse:
                    type: array
                    items:
                      type: string
                  subdivisionOfUse:
                    type: array
                    items:
                      type: string
                  countryOfOrigin:
                    type: string
                  categoryOfGroupOfProperties:
                    type: string
                  properties:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        guid:
                          type: string
                          format: uuid
                        status:
                          type: string
                        propertyStatus:
                          type: string
                        dateOfCreation:
                          type: string
                        dateOfActivation:
                          type: string
                        dateOfLastChange:
                          type: string
                        dateOfRevision:
                          type: string
                        dateOfVersion:
                          type: string
                        dateOfDeactivation:
                          type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        replaces:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              namesInLanguage:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    language:
                                      type: string
                                    languageName:
                                      type: string
                                    countryName:
                                      type: string
                              versionNumber:
                                type: integer
                              revisionNumber:
                                type: integer
                              propertyStatus:
                                type: string
                        replacedBy:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              namesInLanguage:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    language:
                                      type: string
                                    languageName:
                                      type: string
                                    countryName:
                                      type: string
                              versionNumber:
                                type: integer
                              revisionNumber:
                                type: integer
                              propertyStatus:
                                type: string
                        deprecationExplanation:
                          type: string
                        relationOfThePropertyIdentifiersInTheInterconnectedDictionaries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              version:
                                type: integer
                              createdDate:
                                type: string
                              propertyID:
                                type: string
                              interConDictID:
                                type: string
                        creatorsLanguage:
                          type: object
                          properties:
                            code:
                              type: string
                            language:
                              type: string
                            country:
                              type: string
                        namesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        definitionsInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              definition:
                                type: string
                              language:
                                type: string
                        descriptionsInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              descriptionn:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        examplesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              example:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        connectedProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              namesInLanguage:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    language:
                                      type: string
                                    languageName:
                                      type: string
                                    countryName:
                                      type: string
                              versionNumber:
                                type: integer
                              revisionNumber:
                                type: integer
                              propertyStatus:
                                type: string
                        groupOfProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              namesInLanguage:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    language:
                                      type: string
                                    languageName:
                                      type: string
                                    countryName:
                                      type: string
                              versionNumber:
                                type: integer
                              revisionNumber:
                                type: integer
                              propertyStatus:
                                type: string
                              containsProperty:
                                type: boolean
                              guid:
                                type: string
                                format: uuid
                        symbolsOfThePropertyInAGivenPropertyGroup:
                          type: array
                          items:
                            type: object
                            properties:
                              symbol:
                                type: string
                              propGroupID:
                                type: string
                                format: uuid
                              groupNames:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    language:
                                      type: string
                                    languageName:
                                      type: string
                                    countryName:
                                      type: string
                        visualRepresentations:
                          type: array
                          items:
                            type: string
                        countryOfUse:
                          type: array
                          items:
                            type: string
                        subdivisionOfUse:
                          type: array
                          items:
                            type: string
                        countryOfOrigin:
                          type: string
                        physicalQuantity:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              version:
                                type: integer
                              creationDate:
                                type: string
                              siUnit:
                                type: string
                              language:
                                type: string
                        dimension:
                          type: string
                        methodOfMeasurement:
                          type: string
                        dataType:
                          type: string
                        dynamicProperty:
                          type: string
                        parametersOfTheDynamicProperty:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              namesInLanguage:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    language:
                                      type: string
                                    languageName:
                                      type: string
                                    countryName:
                                      type: string
                              versionNumber:
                                type: integer
                              revisionNumber:
                                type: integer
                              propertyStatus:
                                type: string
                        units:
                          type: array
                          items:
                            type: string
                        namesOfTheDefiningValues:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              version:
                                type: integer
                              createdDate:
                                type: string
                              name:
                                type: string
                              language:
                                type: string
                              value:
                                type: string
                        definingValues:
                          type: array
                          items:
                            type: string
                        tolerance:
                          type: array
                          items:
                            type: integer
                        digitalFormat:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              version:
                                type: integer
                              createdDate:
                                type: string
                              precision:
                                type: string
                              unitOfMeasure:
                                type: string
                        textFormat:
                          type: object
                          properties:
                            encoding:
                              type: string
                            numberOfCharacters:
                              type: string
                        listOfPossibleValuesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              version:
                                type: integer
                              createdDate:
                                type: string
                              possibleValue:
                                type: string
                              language:
                                type: string
                              value:
                                type: string
                        boundaryValues:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              version:
                                type: integer
                              createdDate:
                                type: string
                              boundaryValuePairs:
                                type: array
                                items:
                                  type: string
                              unit:
                                type: string
                        metadata:
                          type: object
                          properties:
                            status:
                              type: string
                            visibility:
                              type: string
                            external:
                              type: boolean
                            organisationId:
                              type: string
                              format: uuid
                            transferred:
                              type: boolean
                        bookmarked:
                          type: object
                          properties:
                            bookmarkId:
                              type: string
                              format: uuid
                        observed:
                          type: object
                          properties:
                            observationId:
                              type: string
                              format: uuid
                        organisationId:
                          type: string
                          format: uuid
                        organisationName:
                          type: string
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              tag:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  name:
                                    type: string
                                  organisationId:
                                    type: string
                                    format: uuid
                                  global:
                                    type: boolean
                                  assignmentCount:
                                    type: integer
                              organisationId:
                                type: string
                                format: uuid
                        organisationType:
                          type: string
                        canCreateNewVersion:
                          type: boolean
                  childrenPropertyGroups:
                    type: array
                    items:
                      type: object
                  parentGroup:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      namesInLanguage:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            language:
                              type: string
                            languageName:
                              type: string
                            countryName:
                              type: string
                      versionNumber:
                        type: integer
                      revisionNumber:
                        type: integer
                      propertyStatus:
                        type: string
                      containsProperty:
                        type: boolean
                      guid:
                        type: string
                        format: uuid
                  metadata:
                    type: object
                    properties:
                      status:
                        type: string
                      visibility:
                        type: string
                      external:
                        type: boolean
                      organisationId:
                        type: string
                        format: uuid
                      transferred:
                        type: boolean
                  bookmarked:
                    type: object
                    properties:
                      bookmarkId:
                        type: string
                        format: uuid
                  observed:
                    type: object
                    properties:
                      observationId:
                        type: string
                        format: uuid
                  simpleInheritedProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        names:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              version:
                                type: integer
                              createdDate:
                                type: string
                              name:
                                type: string
                              language:
                                type: string
                              value:
                                type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        propertyStatus:
                          type: string
                  organisationId:
                    type: string
                    format: uuid
                  organisationName:
                    type: string
                    format: uuid
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            organisationId:
                              type: string
                              format: uuid
                            global:
                              type: boolean
                            assignmentCount:
                              type: integer
                        organisationId:
                          type: string
                          format: uuid
                  organisationType:
                    type: string
                  canCreateNewVersion:
                    type: boolean
        '403':
          description: Es besteht kein Recht, diese Merkmalsgruppe zu sehen
        '404':
          description: Es existiert keine Merkmalsgruppe mit der GUID
        '429':
          description: Zu viele gleichzeitige Serveranfragen
  /merkmale/api/v1/public/property:
    post:
      tags:
        - Merkmale
      summary: Merkmale
      description: Liste aller öffentlich sichtbaren Merkmale, welche die übermittelten Filterkriterien erfüllen
      requestBody:
        description: Im Request Body dieser Anfrage werden die gewünschten Suchfilterkriterien angeben. Eine detaillierte Dokumentation der Suchfilter ist dem unten stehenden Suchfilterschema zu entnehmen.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Suchfilter'  
      responses:
        '200':    # status code
          description: Der Response Body dieser Anfrage liefert ein Json-Array mit den Kurzinformationen der öffentlich sichtbaren Merkmale zurück, welche die übermittelten Suchfilterkriterien erfüllen. Die Ergebnisse sind aufsteigend nach Namen sortiert. Eine detaillierte Dokumentation der Kurzinformationsobjekte ist dem unten stehenden Kurzinformationsschema zu entnehmen.
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/Kurzinformation'
        '429':
          description: Zu viele gleichzeitige Serveranfragen
  /merkmale/api/v1/public/property/{guid}:
    get:
      tags:
        - Merkmale
      summary: Merkmal
      description: Liefert das Merkmal mit der gesuchten GUID
      parameters:
        - in: path
          name: guid
          schema:
            type: string
            format: uuid
          required: true
          description: GUID des Merkmals
      responses:
        '200':    # status code
          description: Ein JSON-Objekt des gesuchten Merkmals
          content:
            application/json:
              schema: 
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  guid:
                    type: string
                    format: uuid
                  status:
                    type: string
                  propertyStatus:
                    type: string
                  dateOfCreation:
                    type: string
                  dateOfActivation:
                    type: string
                  dateOfLastChange:
                    type: string
                  dateOfRevision:
                    type: string
                  dateOfVersion:
                    type: string
                  dateOfDeactivation:
                    type: string
                  versionNumber:
                    type: integer
                  revisionNumber:
                    type: integer
                  replaces:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        namesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        propertyStatus:
                          type: string
                  replacedBy:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        namesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        propertyStatus:
                          type: string
                  deprecationExplanation:
                    type: string
                  relationOfThePropertyIdentifiersInTheInterconnectedDictionaries:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        version:
                          type: integer
                        createdDate:
                          type: string
                        propertyID:
                          type: string
                        interConDictID:
                          type: string
                  creatorsLanguage:
                    type: object
                    properties:
                      code:
                        type: string
                      language:
                        type: string
                      country:
                        type: string
                  namesInLanguage:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        language:
                          type: string
                        languageName:
                          type: string
                        countryName:
                          type: string
                  definitionsInLanguage:
                    type: array
                    items:
                      type: object
                      properties:
                        definition:
                          type: string
                        language:
                          type: string
                  descriptionsInLanguage:
                    type: array
                    items:
                      type: object
                      properties:
                        descriptionn:
                          type: string
                        language:
                          type: string
                        languageName:
                          type: string
                        countryName:
                          type: string
                  examplesInLanguage:
                    type: array
                    items:
                      type: object
                      properties:
                        example:
                          type: string
                        language:
                          type: string
                        languageName:
                          type: string
                        countryName:
                          type: string
                  connectedProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        namesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        propertyStatus:
                          type: string
                  groupOfProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        namesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        propertyStatus:
                          type: string
                        containsProperty:
                          type: boolean
                        guid:
                          type: string
                          format: uuid
                  symbolsOfThePropertyInAGivenPropertyGroup:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                        propGroupID:
                          type: string
                          format: uuid
                        groupNames:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                  visualRepresentations:
                    type: array
                    items:
                      type: string
                  countryOfUse:
                    type: array
                    items:
                      type: string
                  subdivisionOfUse:
                    type: array
                    items:
                      type: string
                  countryOfOrigin:
                    type: string
                  physicalQuantity:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        version:
                          type: integer
                        creationDate:
                          type: string
                        siUnit:
                          type: string
                        language:
                          type: string
                  dimension:
                    type: string
                  methodOfMeasurement:
                    type: string
                  dataType:
                    type: string
                  dynamicProperty:
                    type: string
                  parametersOfTheDynamicProperty:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        namesInLanguage:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              language:
                                type: string
                              languageName:
                                type: string
                              countryName:
                                type: string
                        versionNumber:
                          type: integer
                        revisionNumber:
                          type: integer
                        propertyStatus:
                          type: string
                  units:
                    type: array
                    items:
                      type: string
                  namesOfTheDefiningValues:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        version:
                          type: integer
                        createdDate:
                          type: string
                        name:
                          type: string
                        language:
                          type: string
                        value:
                          type: string
                  definingValues:
                    type: array
                    items:
                      type: string
                  tolerance:
                    type: array
                    items:
                      type: integer
                  digitalFormat:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        version:
                          type: integer
                        createdDate:
                          type: string
                        precision:
                          type: string
                        unitOfMeasure:
                          type: string
                  textFormat:
                    type: object
                    properties:
                      encoding:
                        type: string
                      numberOfCharacters:
                        type: string
                  listOfPossibleValuesInLanguage:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        version:
                          type: integer
                        createdDate:
                          type: string
                        possibleValue:
                          type: string
                        language:
                          type: string
                        value:
                          type: string
                  boundaryValues:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        version:
                          type: integer
                        createdDate:
                          type: string
                        boundaryValuePairs:
                          type: array
                          items:
                            type: string
                        unit:
                          type: string
                  metadata:
                    type: object
                    properties:
                      status:
                        type: string
                      visibility:
                        type: string
                      external:
                        type: boolean
                      organisationId:
                        type: string
                        format: uuid
                      transferred:
                        type: boolean
                  bookmarked:
                    type: object
                    properties:
                      bookmarkId:
                        type: string
                        format: uuid
                  observed:
                    type: object
                    properties:
                      observationId:
                        type: string
                        format: uuid
                  organisationId:
                    type: string
                    format: uuid
                  organisationName:
                    type: string
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            organisationId:
                              type: string
                              format: uuid
                            global:
                              type: boolean
                            assignmentCount:
                              type: integer
                        organisationId:
                          type: string
                          format: uuid
                  organisationType:
                    type: string
                  canCreateNewVersion:
                    type: boolean
        '403':
          description: Es besteht kein Recht, dieses Merkmal zu sehen
        '404':
          description: Es existiert kein Merkmal mit der GUID
        '429':
          description: Zu viele gleichzeitige Serveranfragen
components:
  schemas:
    Organisation:
      type: object
      properties:
        name:
          description: Name der Organisation
          example: "Pflegestelle Bund"
          type: string
        description:
          description: Beschreibung der Organisation
          example: "Organisation für die Koordinierungsstelle Bund"
          type: string
        guid:
          description: Global einzigartige Identifikationsnummer der Organisation
          example: "ee6a7af7-650d-499b-8e32-58a52ffdb7bc"
          type: string
        parentGuid:
          description: Global einzigartige Identifikationsnummer der Elternorganisation des Organisationsobjekts
          example: "1f1426b8-099e-46cb-b668-6d931bf29d8c"
          type: string
        bundOrganisationOrChild:
          description: Ein Wahrheitswert der angibt, ob es sich bei dieser Organisation um die Pflegestelle Bund oder um eine Kindorganisation der pflegestelle handelt.
          example: true
          type: boolean
    Merkmalsfiltergruppe:
      type: object
      properties:
        name:
          description: Name der Merkmalsfiltergruppe
          example: "Leistungsphasen"
        guid:
          description: Global einzigartige Identifikationsnummer der Merkmalsfiltergruppe
          example: "8e9b9ed6-9704-461b-97af-05e3d61a97f2"
          type: string
        filter:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    Filter:
      type: object
      properties:
        name:
          description: Name des Filters
          example: "Lph 1"
          type: string
        guid:
          description: Global einzigartige Identifikationsnummer des Filters
          example: "bf0fa540-4448-45de-9c49-52a0795fef85"
          type: string
    Suchfilter:
      type: object
      properties:
        organisationGuids:
          description: Diese Liste ermöglicht es, GUIDs von Organisationen als Suchkriterium zu übergeben. Die zurückgelierten Ergebnisse einer Anfrage enthalten dann nur öffentlich sichtbaren Merkmalsgruppen/Merkmale aus den angegebenen Organisationen.
          type: array
          items:
            description: Global einzigartige Identifikationsnummer einer konkreten Organisation
            example: "e636c407-80f1-4e44-9989-38ebe3b64459"
            type: string
            format: uuid
        searchString:
          description: Alle öffentlich verfügabren Merkmalsgruppen/Merkmale werden, nach dem angegeben Schlagwort durchsucht. 
          example: "Betonfestigkeit"
          type: string
        filterGuids:
          description: Diese Liste ermöglicht es, GUIDs von Filtern als Suchkriterium zu übergeben. Die zurückgelierten Ergebnisse einer Anfrage enthalten dann nur öffentlich sichtbaren Merkmalsgruppen/Merkmale, die den angegebenen Filtern untergeordnet sind. 
          type: array
          items:
            description: Global einzigartige Identifikationsnummer eines konkreten Filters
            example: "1e119173-0fa6-4909-8ab7-7fab4f51da94"
            type: string
            format: uuid
        parentGuid:
          description: Dieser Filterparameter schränkt ein, welchem Elemente das angefragte Informationselement untergeordnet ist.
          example: "1f24c5a5-4fb9-44be-8393-7f44b03eb0e4"
          type: string
        includeDeprecated:
          description: Ein Wahrheitswert, der angibt, ob bei der Suche nach öffentlich sichtbaren Merkmalsgruppen auch veraltete Objekte Merkmalsgruppen/Merkmale zurückgeliefert werden sollen
          example: true
          type: boolean
        pageNumber:
          description: Mit diesem Parameter kann übermittelt werden, welche Seite der Paginierung der Suchergebnisse zurückgegeben wird. Per Default wird der Wert 0 übergeben
          example: 0
          type: integer
    Kurzinformation:
      type: object
      properties:
        name:
          description: Name des Informationslements
          type: string
        definition:
          description: Defintion des Informationslements
          type: string
        guid:
          description: Global einzigartige Identifikationsnummer des Informationslements
          type: string
          format: uuid
        versionNumber:
          description: Versionsnummer des Informationslements
          type: integer
        revisionNumber:
          description: Revisionsnummer des Informationslements.
          type: integer
        parentGuids:
          description: Liste der Elterngruppe(n) des Informationslements. Im Falle eines Merkmals kann dise Liste mehrere Elemente enthalten. Im Fall einer Merkmalsgruppe enthält diese Liste maximal ein Element.
          type: array
          items:
            type: string
            format: uuid
        organisationName:
          description: Name der Organisation zu dem das Informationslements gehört
          type: string
        dataType:
          description: Datentyp des Merkmals. Im Falle einer Merkmalsgruppe ist dieser Wert leer. 
          type: string
        units:
          description: Einheit(en) des Merkmals. Im Falle einer Merkmalsgruppe ist dieser Wert leer. 
          type: array
          items:
            type: string
        category:
          description: Kategorie der Merkmalsgruppe. Im Falle eines Merkmals ist dieser Wert leer.
          type: string
        deprecated:
          description:  Ein Wahrheitswert der angibt, ob das zurückgelieferte Informationselement veraltet ist oder nicht.
          type: boolean    
