openapi: 3.0.0
info:
  title: BIM-Portal REST-API
  description: >
    Dies ist die Dokumentation der REST-Endpunkte, die sowohl
    öffentliche als auch private Informationselemente abrufen können.
    Authentifizierung ist für den Zugriff auf private Ressourcen erforderlich.
    Die Endpunkte können auf dieser Seite getestet werden.
  version: 0.0.2
servers:
  - url: https://via.bund.de/bim
    description: Main (production) server
paths:
  /infrastruktur/api/v1/public/auth/login:
    post:
      tags:
        - Infrastruktur
      summary: Benutzer Anmeldung
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mail:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Login erfolgreich, liefert Access und Refresh Token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  validTill:
                    type: string
                    format: date-time
  /infrastruktur/api/v1/public/auth/logout:
    post:
      tags:
        - Infrastruktur
      summary: Benutzer Abmeldung
      description: Erfordert eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header.
      responses:
        "200":
          description: OK
      security:
        - bearerAuth: []    
  /infrastruktur/api/v1/public/auth/refresh:
    post:
      tags:
        - Infrastruktur
      summary: Aktualisierung des Autorisierungs-Token
      description: Erfordert eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  validTill:
                    type: string
                    format: date-time
  /infrastruktur/api/v1/public/organisation:
    get:
      tags:
        - Infrastruktur
      summary: Liste aller Organisationen
      description: Liefert eine Liste alle konfigurierten Organisationen.
      responses:
        "200":
          description: Liste der Organisationen erfolgreich abgerufen
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Organisation"
        '429':
          description: Zu viele gleichzeitige Serveranfragen.
  /infrastruktur/api/v1/public/organisation/my:
    get:
      tags:
        - Infrastruktur
      summary: Alle konfigurierten Organisationen zurückliefern, in denen der Nutzer Mitglied ist.
      description: Erfordert eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header.
      parameters:
        - in: query
          name: userId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Details der eigenen Organisation erfolgreich abgerufen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organisation"
        '429':
          description: Zu viele gleichzeitige Serveranfragen.
      security:
        - bearerAuth: []    
  /merkmale/api/v1/public/filter:
    get:
      tags:
        - Merkmale
      summary: Liste aller globalen Merkmalsfiltergruppen
      description: Liefert eine Liste aller globalen Merkmalsfiltergruppen, die über
        die REST-API zugänglich sind.
      responses:
        "200":
          description: Liste der Merkmalsfiltergruppen erfolgreich abgerufen
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Merkmalsfiltergruppe"
        '429':
          description: Zu viele gleichzeitige Serveranfragen.
  /merkmale/api/v1/public/propertygroup/{guid}:
    get:
      tags:
        - Merkmalsgruppen
      summary: Liefert die Merkmalsgruppe mit der gesuchten GUID
      description: Erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Merkmalsgruppen abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Merkmalsgruppe erfolgreich abgerufen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyGroupDto"
        "403":
          description: Es besteht kein Recht, diese Merkmalsgruppe zu sehen.
        "404":
          description: Es existiert keine Merkmalsgruppe mit der GUID.
        "429":
          description: Zu viele gleichzeitige Serveranfragen.
      security:
        - bearerAuth: []    
  /merkmale/api/v1/public/property/{guid}:
    get:
      tags:
        - Merkmale
      summary: Liefert das Merkmal mit der gesuchten GUID
      description: Erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Merkmale abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Ein Merkmal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyDto"
        "403":
          description: Es besteht kein Recht, dieses Merkmal zu sehen.
        "404":
          description: Es existiert kein Merkmal mit der GUID.
        "429":
          description: Zu viele gleichzeitige Serveranfragen.
      security:
        - bearerAuth: []    
  /merkmale/api/v1/public/property:
    post:
      tags:
        - Merkmale
      summary: Liefert alle Merkmale, die zu den Suchparametern passen.
      description: Erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Merkmale abrufen zu können.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PropertyOrGroupForPublicRequest"
      responses:
        "200":
          description: Eine Liste von Merkmalen.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PropertyOrGroupForPublicDto"
        "429":
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []    
  /merkmale/api/v1/public/propertygroup:
    post:
      tags:
        - Merkmalsgruppen
      summary: Liefert alle Merkmalsgruppen, die zu den Suchparametern passen.
      description: Erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Merkmalsgruppen abrufen zu können.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PropertyOrGroupForPublicRequest"
      responses:
        "200":
          description: Eine Liste von Merkmalsgruppen
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PropertyOrGroupForPublicDto"
        "429":
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []    
  /aia/api/v1/public/filter:
    get:
      tags:
        - AIA-Filter
      summary: Liefert alle globalen Filter zurück
      description: Liefert ein JSON-Array mit AIA-Filtergruppen, einschließlich einer
        Liste einzelner Filter.
      responses:
        "200":
          description: Der Response Body dieser Anfrage liefert ein Json-Array mit
            AIA-Filtergruppen.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FilterGroupForPublicDto"
        "429":
          description: Zu viele gleichzeitige Serveranfragen
  /aia/api/v1/public/loin/{guid}:
    get:
      tags:
        - AIA-LOIN
      summary: Liefert die LOIN mit der gesuchten GUID
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Der Response Body liefert die Details des angeforderten LOIN.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LOINPublicDto"
        '403':
          description: Es besteht kein Recht, diese LOIN zu sehen.
        '404':
          description: Es existiert keine LOIN mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen.
      security:
        - bearerAuth: []    
  /aia/api/v1/public/loin:
    post:
      tags:
        - AIA-LOIN
      summary: Liefert alle LOINs, die zu den Suchparametern passen
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoinForPublicRequest"
        required: true
      responses:
        "200":
          description: Eine Liste von LOINs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimpleLoinPublicDto"
        "429":
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/loin/{guid}/pdf:
    get:
      tags:
        - AIA-LOIN
      summary: Liefert die LOIN mit der übergebenen GUID im PDF-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine LOIN im PDF-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese LOIN zu sehen.
        '404':
          description: Es existiert keine LOIN mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/loin/{guid}/openOffice:
    get:
      tags:
        - AIA-LOIN
      summary: Liefert die LOIN mit der übergebenen GUID im OpenOffice-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine LOIN im ODT-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese LOIN zu sehen.
        '404':
          description: Es existiert keine LOIN mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/loin/{guid}/ifcXML:
    get:
      tags:
        - AIA-LOIN
      summary: Liefert eine ifcXML-Datei zurück, die mit der LOIN assoziiert ist, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine LOIN im ifcXML-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese LOIN zu sehen.
        '404':
          description: Es existiert keine LOIN mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []    
  /aia/api/v1/public/loin/{guid}/mvdXML:
    get:
      tags:
        - AIA-LOIN
      summary: Liefert eine mvdXML-Datei, die mit der LOIN assoziiert ist, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine LOIN im mvdXML-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese LOIN zu sehen.
        '404':
          description: Es existiert keine LOIN mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/loin/{guid}/loinXML:
    get:
      tags:
        - AIA-LOIN
      summary: Liefert die LOIN als XML-Datei im LOIN XSD-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine LOIN im XML-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese LOIN zu sehen.
        '404':
          description: Es existiert keine LOIN mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/loin/{guid}/okstra:
    get:
      tags:
        - AIA-LOIN
      summary: Liefert eine .zip-Datei mit allen Okstra-Dateien, die mit der LOIN assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Okstra-Dateien, die mit der LOIN assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese LOIN zu sehen.
        '404':
          description: Es existiert keine LOIN mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/domainSpecificModel:
    post:
      tags:
        - Domain Specific Model
      summary: Liefert alle Fachmodelle, die zu den Suchparametern passen
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiaDomainSpecificModelForPublicRequest'
        required: true
      responses:
        '200':
          description: Eine Liste von Fachmodellen.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleDomainSpecificModelPublicDto'
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []    
  /aia/api/v1/public/domainSpecificModel/{guid}:
    get:
      tags:
        - Domain Specific Model
      summary: Liefert das Fachmodell mit der gesuchten GUID
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ein Fachmodell.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIADomainSpecificModelPublicDto'
        '403':
          description: Es besteht kein Recht, dieses Fachmodell zu sehen.
        '404':
          description: Es existiert kein Fachmodell mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen.
      security:
        - bearerAuth: []    
  /aia/api/v1/public/domainSpecificModel/{guid}/pdf:
    get:
      tags:
        - Domain Specific Model
      summary: Liefert das Fachmodell mit der übergebenen GUID im PDF-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ein Fachmodell im PDF-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Fachmodell zu sehen.
        '404':
          description: Es existiert kein Fachmodell mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []       
  /aia/api/v1/public/domainSpecificModel/{guid}/openOffice:
    get:
      tags:
        - Domain Specific Model
      summary: Liefert das Fachmodell mit der übergebenen GUID im OpenOffice-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ein Fachmodell im ODT-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Fachmodell zu sehen.
        '404':
          description: Es existiert kein Fachmodell mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/domainSpecificModel/{guid}/ifcXML:
    get:
      tags:
        - Domain Specific Model
      summary: Liefert eine .zip-Datei mit allen ifcXML-Dateien, die mit dem Fachmodell assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ifcXML-Dateien, die mit dem Fachmodell assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Fachmodell zu sehen.
        '404':
          description: Es existiert kein Fachmodell mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/domainSpecificModel/{guid}/mvdXML:
    get:
      tags:
        - Domain Specific Model
      summary: Liefert eine .zip-Datei mit allen mvdXML-Dateien, die mit dem Fachmodell assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: mvdXML-Dateien, die mit dem Fachmodell assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Fachmodell zu sehen.
        '404':
          description: Es existiert kein Fachmodell mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/domainSpecificModel/{guid}/loinXML:
    get:
      tags:
        - Domain Specific Model
      summary: Liefert eine .zip-Datei mit allen LOIN-XML-Dateien, die mit dem Fachmodell assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: LOIN-XML-Dateien, die mit dem Fachmodell assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Fachmodell zu sehen.
        '404':
          description: Es existiert kein Fachmodell mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/domainSpecificModel/{guid}/okstra:
    get:
      tags:
        - Domain Specific Model
      summary: Liefert eine .zip-Datei mit allen Okstra-Dateien, die mit dem Fachmodell assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Okstra-Dateien, die mit dem Fachmodell assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Fachmodell zu sehen.
        '404':
          description: Es existiert kein Fachmodell mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/contextInfo:
    post:
      tags:
        - Context Information
      summary: Liefert alle Kontextinformationen, die zu den Suchparametern passen
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiaContextInfoPublicRequest'
        required: true
      responses:
        '200':
          description: Eine Liste von Kontextinformationen.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleContextInfoPublicDto'
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []    
  /aia/api/v1/public/contextInfo/{guid}:
    get:
      tags:
        - Context Information
      summary: Liefert die Kontextinformation mit der gesuchten GUID
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine Kontextinformation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIAContextInfoPublicDto'
        '403':
          description: Es besteht kein Recht, diese Kontextinformation zu sehen.
        '404':
          description: Es existiert keine Kontextinformation mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen.
      security:
        - bearerAuth: []    
  /aia/api/v1/public/contextInfo/{guid}/pdf:
    get:
      tags:
        - Context Information
      summary: Liefert die Kontextinformation mit der übergebenen GUID im PDF-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine Vorlage im PDF-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese Vorlage zu sehen.
        '404':
          description: Es existiert keine Vorlage mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/contextInfo/{guid}/openOffice:
    get:
      tags:
        - Context Information
      summary: Liefert die Kontextinformation mit der übergebenen GUID im OpenOffice-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine Vorlage im ODT-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese Vorlage zu sehen.
        '404':
          description: Es existiert keine Vorlage mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/aiaProject:
    post:
      tags:
        - AIA Project
      summary: Liefert alle Projekte, die zu den Suchparametern passen
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiaProjectForPublicRequest'
        required: true
      responses:
        '200':
          description: Eine Liste von Projekten.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleAiaProjectPublicDto'
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/aiaProject/{guid}:
    get:
      tags:
        - AIA Project
      summary: Liefert das Projekt mit der gesuchten GUID
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ein Projekt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIAProjectPublicDto'
        '403':
          description: Es besteht kein Recht, dieses Projekt zu sehen.
        '404':
          description: Es existiert kein Projekt mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen.
      security:
        - bearerAuth: []    
  /aia/api/v1/public/aiaProject/{guid}/pdf:
    get:
      tags:
        - AIA Project
      summary: Liefert das Projekt mit der übergebenen GUID im PDF-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ein Projekt im PDF-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Projekt zu sehen.
        '404':
          description: Es existiert kein Projekt mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []    
  /aia/api/v1/public/aiaProject/{guid}/openOffice:
    get:
      tags:
        - AIA Project
      summary: Liefert das Projekt mit der übergebenen GUID im OpenOffice-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ein Projekt im ODT-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Projekt zu sehen.
        '404':
          description: Es existiert kein Projekt mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/aiaProject/{guid}/ifcXML:
    get:
      tags:
        - AIA Project
      summary: Liefert eine .zip-Datei mit allen ifcXML-Dateien, die mit dem Projekt assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ifcXML-Dateien, die mit dem Projekt assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Projekt zu sehen.
        '404':
          description: Es existiert kein Projekt mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/aiaProject/{guid}/mvdXML:
    get:
      tags:
        - AIA Project
      summary: Liefert eine .zip-Datei mit allen mvdXML-Dateien, die mit dem Projekt assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: mvdXML-Dateien, die mit dem Projekt assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Projekt zu sehen.
        '404':
          description: Es existiert kein Projekt mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/aiaProject/{guid}/loinXML:
    get:
      tags:
        - AIA Project
      summary: Liefert eine .zip-Datei mit allen LOIN-XML-Dateien, die mit dem Projekt assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: LOIN-XML-Dateien, die mit dem Projekt assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Projekt zu sehen.
        '404':
          description: Es existiert kein Projekt mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/aiaProject/{guid}/okstra:
    get:
      tags:
        - AIA Project
      summary: Liefert eine .zip-Datei mit allen Okstra-Dateien, die mit dem Projekt assoziiert sind, zurück.
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Okstra-Dateien, die mit dem Projekt assoziiert sind.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, dieses Projekt zu sehen.
        '404':
          description: Es existiert kein Projekt mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/aiaTemplate:
    post:
      tags:
        - AIA Template
      summary: Liefert alle Vorlagen, die zu den Suchparametern passen
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiaTemplateForPublicRequest'
        required: true
      responses:
        '200':
          description: Eine Liste von Vorlagen.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleAiaTemplatePublicDto'
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []     
  /aia/api/v1/public/aiaTemplate/{guid}:
    get:
      tags:
        - AIA Template
      summary: Liefert die Vorlage mit der gesuchten GUID
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine Vorlage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIATemplatePublicDto'
        '403':
          description: Es besteht kein Recht, diese Vorlage zu sehen.
        '404':
          description: Es existiert keine Vorlage mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen.
      security:
        - bearerAuth: []    
  /aia/api/v1/public/aiaTemplate/{guid}/pdf:
    get:
      tags:
        - AIA Template
      summary: Liefert die Vorlage mit der übergebenen GUID im PDF-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine Vorlage im PDF-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese Vorlage zu sehen.
        '404':
          description: Es existiert keine Vorlage mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []    
  /aia/api/v1/public/aiaTemplate/{guid}/openOffice:
    get:
      tags:
        - AIA Template
      summary: Liefert die Vorlage mit der übergebenen GUID im OpenOffice-Format zurück
      description: Diese API erlaubt optional eine Authentifizierung mittels 'Bearer {accessToken}' über den Authorization-Header, um nicht öffentlich sichtbare Informationselemente abrufen zu können.
      parameters:
        - in: path
          name: guid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Eine Vorlage im ODT-Format.
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '403':
          description: Es besteht kein Recht, diese Vorlage zu sehen.
        '404':
          description: Es existiert keine Vorlage mit der GUID.
        '429':
          description: Zu viele gleichzeitige Serveranfragen
      security:
        - bearerAuth: []    
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Organisation:
      type: object
      properties:
        name:
          description: Name der Organisation
          example: Pflegestelle Bund
          type: string
        description:
          description: Beschreibung der Organisation
          example: Organisation fÃ¼r die Koordinierungsstelle Bund
          type: string
        guid:
          description: Global eindeutiger Identifikator der Organisation
          example: ee6a7af7-650d-499b-8e32-58a52ffdb7bc
          type: string
        parentGuid:
          description: Global eindeutiger Identifikator der Elternorganisation des
            Organisationsobjekts
          example: 1f1426b8-099e-46cb-b668-6d931bf29d8c
          type: string
        bundOrganisationOrChild:
          description: Ein Wahrheitswert der angibt, ob es sich bei dieser Organisation um
            die Pflegestelle Bund oder um eine Kindorganisation der Pflegestelle
            handelt.
          example: true
          type: boolean
    Merkmalsfiltergruppe:
      required:
        - guid
        - name
      type: object
      properties:
        name:
          type: string
        guid:
          type: string
          format: uuid
        filter:
          type: array
          items:
            $ref: "#/components/schemas/TagForPublicDto"
    TagForPublicDto:
      required:
        - guid
        - name
      type: object
      properties:
        name:
          type: string
        guid:
          type: string
          format: uuid        
    PropertyDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - INITIAL
            - PROPOSED
            - CREATION
            - REVIEW
            - VALIDATION
            - ACCEPTED
            - PUBLISHED
            - DEPRECATED
            - SORTED_OUT
            - REJECTED
        dateOfCreation:
          type: string
          format: date-time
        dateOfActivation:
          type: string
          format: date-time
        dateOfLastChange:
          type: string
          format: date-time
        dateOfRevision:
          type: string
          format: date-time
        dateOfVersion:
          type: string
          format: date-time
        dateOfDeactivation:
          type: string
          format: date-time
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        replaces:
          type: array
          items:
            $ref: "#/components/schemas/PropertyOrGroupWithNamesInLanguage"
        replacedBy:
          type: array
          items:
            $ref: "#/components/schemas/PropertyOrGroupWithNamesInLanguage"
        deprecationExplanation:
          type: string
        relationOfThePropertyIdentifiersInTheInterconnectedDictionaries:
          type: array
          items:
            $ref: "#/components/schemas/RelationOfThePropertyIdentifiersInTheInterconnected\
              DictionariesDto"
        creatorsLanguage:
          $ref: "#/components/schemas/CountryLanguageCode"
        namesInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/NamesInLanguageDto"
        definitionsInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/DefinitionsInLanguageDto"
        descriptionsInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/DescriptionsInLanguageDto"
        examplesInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/ExamplesInLanguageDto"
        connectedProperties:
          type: array
          items:
            $ref: "#/components/schemas/PropertyOrGroupWithNamesInLanguage"
        groupOfProperties:
          type: array
          items:
            $ref: "#/components/schemas/SimpleParentGroup"
        symbolsOfThePropertyInAGivenPropertyGroup:
          type: array
          items:
            $ref: "#/components/schemas/SymbolsOfTheGivenPropertyGroupDto"
        visualRepresentation:
          type: array
          items:
            type: string
        countryOfUse:
          type: array
          items:
            type: string
        subdivisionOfUse:
          type: array
          items:
            type: string
        countryOfOrigin:
          type: string
        physicalQuantity:
          type: array
          items:
            $ref: "#/components/schemas/PhysicalQuantity"
        dimension:
          type: string
          description: "Enthält die Dimension der Einheiten in der folgenden Reihenfolge:
            Länge, Masse, Zeit, Stoffmenge, Lichtstärke, Stromstärke,
            Temperatur"
        methodOfMeasurement:
          type: string
        dataType:
          type: string
        dynamicProperty:
          type: string
        parametersOfTheDynamicProperty:
          type: array
          items:
            $ref: "#/components/schemas/PropertyOrGroupWithNamesInLanguage"
        units:
          type: array
          items:
            type: string
        namesOfTheDefiningValues:
          type: array
          items:
            $ref: "#/components/schemas/NamesInLanguage"
        definingValues:
          type: array
          items:
            type: string
        tolerance:
          type: array
          items:
            type: number
        digitalFormat:
          type: array
          items:
            $ref: "#/components/schemas/DigitalFormat"
        textFormat:
          $ref: "#/components/schemas/TextFormat"
        listOfPossibleValuesInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/ListOfPossibleValuesInLanguageDto"
        boundaryValues:
          type: array
          items:
            $ref: "#/components/schemas/BoundaryValues"
        metadata:
          $ref: "#/components/schemas/BimPortalMetadata"
        bookmarked:
          $ref: "#/components/schemas/BookmarkStatus"
        observed:
          $ref: "#/components/schemas/ObservationStatus"
        organisationId:
          type: string
          format: uuid
        organisationName:
          type: string
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagAssignmentDto"
        organisationType:
          type: string
          enum:
            - SIGNED_IN
            - DEFINED
            - BIM_PORTAL
            - BUND
        canCreateNewVersion:
          type: boolean
    ObservationStatus:
      type: object
      properties:
        observationId:
          type: string
          format: uuid
    TagAssignmentDto:
      type: object
      properties:
        tag:
          $ref: "#/components/schemas/TagDto"
        organisationId:
          type: string
          format: uuid
    TagDto:
      required:
        - id
        - name
        - organisationId
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        organisationId:
          type: string
          format: uuid
        global:
          type: boolean
        assignmentCount:
          type: integer
          format: int32
    BoundaryValues:
      required:
        - boundaryValuePairs
        - unit
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          format: int64
        createdDate:
          type: string
          format: date-time
        boundaryValuePairs:
          type: array
          items:
            type: string
        unit:
          type: string
    BimPortalMetadata:
      required:
        - organisationId
      type: object
      properties:
        status:
          type: string
          deprecated: true
          enum:
            - INITIAL
            - PROPOSED
            - CREATION
            - REVIEW
            - VALIDATION
            - ACCEPTED
            - PUBLISHED
            - DEPRECATED
            - SORTED_OUT
            - REJECTED
        visibility:
          type: string
          enum:
            - PUBLIC
            - SECURED
            - CHILD
            - PRIVATE
        external:
          type: boolean
        organisationId:
          type: string
          format: uuid
        transferred:
          type: boolean
        nextState:
          type: string
          writeOnly: true
          enum:
            - PROPOSE
            - ACCEPT
            - SUBMIT_FOR_REVIEW
            - SUBMIT_FOR_VALIDATION
            - VALIDATED
            - PUBLISH
            - DEPRECATE
            - SORT_OUT
            - REJECT
            - RESTORE
            - EXTEND
            - CREATE
            - IMPORT
    BookmarkStatus:
      type: object
      properties:
        bookmarkId:
          type: string
          format: uuid
    ListOfPossibleValuesInLanguageDto:
      type: object
      properties:
        possibleValue:
          type: string
        language:
          type: string
        value:
          type: string
    DigitalFormat:
      required:
        - precision
        - unitOfMeasure
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          format: int64
        createdDate:
          type: string
          format: date-time
        precision:
          type: string
        unitOfMeasure:
          type: string
    TextFormat:
      type: object
      properties:
        encoding:
          type: string
        numberOfCharacters:
          type: string
    PhysicalQuantity:
      required:
        - language
        - siUnit
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          format: int64
        createdDate:
          type: string
          format: date-time
        siUnit:
          type: string
        language:
          type: string
    RelationOfThePropertyIdentifiersInTheInterconnectedDictionariesDto:
      required:
        - interConDictID
        - propertyID
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          format: int64
        createdDate:
          type: string
          format: date-time
        propertyID:
          type: string
        interConDictID:
          type: string
    PropertyOrGroupWithNamesInLanguage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        namesInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/NamesInLanguageDto"
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        informationElementStatus:
          type: string
          enum:
            - INITIAL
            - PROPOSED
            - CREATION
            - REVIEW
            - VALIDATION
            - ACCEPTED
            - PUBLISHED
            - DEPRECATED
            - SORTED_OUT
            - REJECTED
    CountryLanguageCode:
      type: object
      properties:
        code:
          type: string
        language:
          type: string
        country:
          type: string
    DefinitionsInLanguageDto:
      type: object
      properties:
        definition:
          type: string
        language:
          type: string
        value:
          type: string
    ExamplesInLanguageDto:
      type: object
      properties:
        example:
          type: string
        language:
          type: string
        languageName:
          type: string
        countryName:
          type: string
    DescriptionsInLanguageDto:
      type: object
      properties:
        description:
          type: string
        language:
          type: string
        languageName:
          type: string
        countryName:
          type: string
    SimpleParentGroup:
      type: object
      properties:
        id:
          type: string
          format: uuid
        namesInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/NamesInLanguageDto"
        definitionsInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/DefinitionsInLanguageDto"
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        informationElementStatus:
          type: string
          enum:
            - INITIAL
            - PROPOSED
            - CREATION
            - REVIEW
            - VALIDATION
            - ACCEPTED
            - PUBLISHED
            - DEPRECATED
            - SORTED_OUT
            - REJECTED
        containsProperty:
          type: boolean
        guid:
          type: string
          format: uuid
        categoryOfGroupOfProperties:
          type: string
        userCanViewDetails:
          type: boolean
        versionRevisionString:
          type: string
    NamesInLanguage:
      required:
        - language
        - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          format: int64
        createdDate:
          type: string
          format: date-time
        name:
          type: string
        language:
          type: string
        value:
          type: string
    SymbolsOfTheGivenPropertyGroupDto:
      type: object
      properties:
        symbol:
          type: string
        propGroupID:
          type: string
          format: uuid
        groupNames:
          type: array
          items:
            $ref: "#/components/schemas/NamesInLanguageDto"
    NamesInLanguageDto:
      type: object
      properties:
        name:
          type: string
        language:
          type: string
        languageName:
          type: string
        countryName:
          type: string
        value:
          type: string
    PropertyGroupDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        informationElementStatus:
          type: string
          enum:
            - INITIAL
            - PROPOSED
            - CREATION
            - REVIEW
            - VALIDATION
            - ACCEPTED
            - PUBLISHED
            - DEPRECATED
            - SORTED_OUT
            - REJECTED
        dateOfCreation:
          type: string
          format: date-time
        dateOfActivation:
          type: string
          format: date-time
        dateOfLastChange:
          type: string
          format: date-time
        dateOfRevision:
          type: string
          format: date-time
        dateOfVersion:
          type: string
          format: date-time
        dateOfDeactivation:
          type: string
          format: date-time
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        replaces:
          type: array
          items:
            $ref: "#/components/schemas/PropertyOrGroupWithNamesInLanguage"
        replacedBy:
          type: array
          items:
            $ref: "#/components/schemas/PropertyOrGroupWithNamesInLanguage"
        deprecationExplanation:
          type: string
        relationOfThePropertyGroupIdentifiersInTheInterconnectedDictionaries:
          type: array
          items:
            $ref: "#/components/schemas/RelationOfThePropertyGroupIdentifiersInTheInterconn\
              ectedDictionaries"
        creatorsLanguage:
          $ref: "#/components/schemas/CountryLanguageCode"
        namesInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/NamesInLanguageDto"
        definitionsInLanguage:
          type: array
          items:
            $ref: "#/components/schemas/DefinitionsInLanguageDto"
        visualRepresentation:
          type: array
          items:
            type: string
        countryOfUse:
          type: array
          items:
            type: string
        subdivisionOfUse:
          type: array
          items:
            type: string
        countryOfOrigin:
          type: string
        categoryOfGroupOfProperties:
          type: string
        properties:
          type: array
          items:
            $ref: "#/components/schemas/PropertyDto"
        childrenPropertyGroups:
          type: array
          items:
            $ref: "#/components/schemas/PropertyGroupDto"
        parentGroup:
          $ref: "#/components/schemas/SimpleParentGroup"
        metadata:
          $ref: "#/components/schemas/BimPortalMetadata"
        bookmarked:
          $ref: "#/components/schemas/BookmarkStatus"
        observed:
          $ref: "#/components/schemas/ObservationStatus"
        simpleInheritedProperties:
          type: array
          items:
            $ref: "#/components/schemas/SimpleInheritedPropertyDto"
        organisationId:
          type: string
          format: uuid
        organisationName:
          type: string
        tags:
          type: array
          items:
            $ref: "#/components/schemas/PropertyGroupTagDto"
        organisationType:
          type: string
          enum:
            - SIGNED_IN
            - DEFINED
            - BIM_PORTAL
            - BUND
        canCreateNewVersion:
          type: boolean
    RelationOfThePropertyGroupIdentifiersInTheInterconnectedDictionaries:
      required:
        - interConDictID
        - propGroupID
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          format: int64
        createdDate:
          type: string
          format: date-time
        propGroupID:
          type: string
        interConDictID:
          type: string
    SimpleInheritedPropertyDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        names:
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/NamesInLanguage"
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        informationElementStatus:
          type: string
          enum:
            - INITIAL
            - PROPOSED
            - CREATION
            - REVIEW
            - VALIDATION
            - ACCEPTED
            - PUBLISHED
            - DEPRECATED
            - SORTED_OUT
            - REJECTED
    PropertyGroupTagDto:
      type: object
      properties:
        tag:
          $ref: "#/components/schemas/TagDto"
        organisationId:
          type: string
          format: uuid
    PropertyOrGroupForPublicRequest:
      type: object
      properties:
        organisationGuids:
          uniqueItems: true
          type: array
          description: GUIDs der Organisationen, denen die Merkmale oder Gruppen angehören
            müssen
          items:
            type: string
            description: GUIDs der Organisationen, denen die Merkmale oder Gruppen angehören
              müssen
            format: uuid
        searchString:
          type: string
          description: Teilstring, den die Namen der zu liefernden Merkmale und Gruppen
            beinhalten müssen
        filterGuids:
          type: array
          description: GUIDs der Filter, die die zu liefernden Merkmale und Gruppen
            besitzen müssen
          items:
            type: string
            description: GUIDs der Filter, die die zu liefernden Merkmale und Gruppen
              besitzen müssen
            format: uuid
        parentGuid:
          type: string
          description: GUID der Gruppe, in der die zu liefernden Merkmale und Gruppen
            enthalten sein müssen
          format: uuid
        includeDeprecated:
          type: boolean
          description: true, wenn auch veraltete Merkmale und Gruppen mitgeliefert werden
            sollen
        pageNumber:
          type: integer
          description: Laufende Nummer der Ergebnisseite
          format: int32
    PropertyOrGroupForPublicDto:
      type: object
      properties:
        name:
          type: string
        definition:
          type: string
        guid:
          type: string
          format: uuid
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        parentGuids:
          type: array
          items:
            type: string
            format: uuid
        organisationName:
          type: string
        dataType:
          type: string
        units:
          type: array
          items:
            type: string
        category:
          type: string
          enum:
            - ALTERNATIVE_USE
            - CLASS
            - COMPOSED_PROPERTY
            - DOMAIN
            - REFERENCE_DOCUMENT
            - NAME_PROPERTY_SET
        deprecated:
          type: boolean
        currentPage:
          type: integer
          format: int32
        maxPage:
          type: integer
          format: int32
    LoinForPublicRequest:
      required:
        - referencedIds
      type: object
      properties:
        filterGuids:
          type: array
          description: GUIDs der Filter, die die zu liefernden LOINs besitzen müssen
          items:
            type: string
            description: GUIDs der Filter, die die zu liefernden LOINs besitzen müssen
            format: uuid
        referencedIds:
          type: array
          description: GUIDs der Merkmale, die die zu liefernden LOINs referenzieren müssen
          items:
            type: string
            description: GUIDs der Merkmale, die die zu liefernden LOINs referenzieren
              müssen
            format: uuid
        organisationGuids:
          uniqueItems: true
          type: array
          description: GUIDs der Organisationen, denen die LOINs angehören müssen
          items:
            type: string
            description: GUIDs der Organisationen, denen die LOINs angehören müssen
            format: uuid
        searchString:
          type: string
          description: Teilstring, den die Namen der zu liefernden LOINs beinhalten müssen
        contextIds:
          type: array
          description: GUIDs der Kontextinformationen, die die zu liefernden LOINs
            referenzieren müssen
          items:
            type: string
            description: GUIDs der Kontextinformationen, die die zu liefernden LOINs
              referenzieren müssen
            format: uuid
        includeDeprecated:
          type: boolean
          description: true, wenn auch veraltete LOINs mitgeliefert werden sollen
        pageNumber:
          type: integer
          description: Laufende Nummer der Ergebnisseite
          format: int32
    SimpleLoinPublicDto:
      type: object
      properties:
        name:
          type: string
        objectTypes:
          type: array
          items:
            type: string
        description:
          type: string
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        organisation:
          type: string
        visibility:
          type: string
          enum:
            - PUBLIC
            - SECURED
            - CHILD
            - PRIVATE
        constructionTypes:
          type: array
          items:
            type: string
        projectPhases:
          type: array
          items:
            type: string
        purposes:
          type: array
          items:
            type: string
        actors:
          type: array
          items:
            type: string
        domainSpecificModelTypes:
          type: array
          items:
            type: string
        filters:
          type: array
          items:
            type: string
            
    LOINPublicDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdDate:
          type: string
          format: date-time
        dateOfActivation:
          type: string
          format: date-time
        dateOfLastChange:
          type: string
          format: date-time
        dateOfRevision:
          type: string
          format: date-time
        dateOfVersion:
          type: string
          format: date-time
        dateOfDeactivation:
          type: string
          format: date-time
        guid:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        organisationId:
          type: string
          format: uuid
        organisationName:
          type: string
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        buildNumber:
          type: integer
          format: int64
        exportFormats:
          uniqueItems: true
          type: array
          items:
            type: string
        filters:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/FilterAssignmentDto'
        objectTypes:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/PropertyOrGroupPublicReference'
        dataFormats:
          uniqueItems: true
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/IFCDto'
              - $ref: '#/components/schemas/OKSTRADto'
              - $ref: '#/components/schemas/OtherDto'
        properties:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/PropertyOrGroupPublicReference'
        levelOfDetail:
          type: string
        dimensionality:
          type: string
        location:
          type: string
        appearance:
          type: string
        behaviour:
          type: string
        geometricComment:
          type: string
        documentations:
          type: array
          items:
            $ref: '#/components/schemas/DocumentationDto'
        fallbackPropertyGroupName:
          type: string
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationPublicDto'
        contexts:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ContextInfoPublicReference'
    OKSTRADto:
      type: object
      allOf:
        - $ref: '#/components/schemas/DataFormatDto'
        - type: object
          properties:
            fileId:
              type: string
              format: uuid
            fileName:
              type: string
            name:
              type: string      
    OtherDto:
      type: object
      allOf:
        - $ref: '#/components/schemas/DataFormatDto'
        - type: object
          properties:
            dataFormatVersion:
              type: string
            viewType:
              type: string
            name:
              type: string          
            
    ContextInfoPublicReference:
      type: object
      properties:
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        name:
          type: string        
            
    DocumentationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        purpose:
          type: string
        format:
          type: string
        link:
          type: string
        exportAsAttribute:
          type: boolean 
          
    ClassificationPublicDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        property:
          $ref: '#/components/schemas/PropertyOrGroupPublicReference'
        propertyGroup:
          $ref: '#/components/schemas/PropertyOrGroupPublicReference'      
            
    FilterAssignmentDto:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/FilterDto'
        organisationId:
          type: string
          format: uuid
          
    FilterDto:
      required:
        - id
        - name
        - organisationId
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        organisationId:
          type: string
          format: uuid
        filterGroupName:
          type: string
        filterGroup:
          type: string
          format: uuid
        global:
          type: boolean
        assignmentCount:
          type: integer
          format: int32
          
    IFCDto:
      type: object
      allOf:
        - $ref: '#/components/schemas/DataFormatDto'
        - type: object
          properties:
            ifcView:
              $ref: '#/components/schemas/IFCViewDto'
            ifcClass:
              $ref: '#/components/schemas/IFCClassDto'
            ifcType:
              $ref: '#/components/schemas/IFCTypeDto'
            groupAsIFCePset:
              type: boolean
            saveObjectTypeAsProperty:
              type: boolean
              
    DataFormatDto:
      required:
        - '@class'
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/DataFormatTypeDto'
        '@class':
          type: string
      discriminator:
        propertyName: '@class'  
        
    DataFormatTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        majorRelease:
          type: integer
          format: int32
        minorRelease:
          type: integer
          format: int32
        addendum:
          type: integer
          format: int32
        corrigendum:
          type: integer
          format: int32
        variant:
          type: string
          enum:
            - IFC
            - OKSTRA
            - OTHER
        ifc:
          type: boolean    
    IFCViewDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        ifcVersion:
          $ref: '#/components/schemas/DataFormatType'    
    DataFormatType:
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          format: int64
        createdDate:
          type: string
          format: date-time
        name:
          type: string
        majorRelease:
          type: integer
          format: int32
        minorRelease:
          type: integer
          format: int32
        addendum:
          type: integer
          format: int32
        corrigendum:
          type: integer
          format: int32
        variant:
          type: string
          enum:
            - IFC
            - OKSTRA
            - OTHER
        ifc:
          type: boolean      
              
    PropertyOrGroupPublicReference:
      type: object
      properties:
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        name:
          type: string
          
    IFCClassDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        ifcView:
          type: string
          format: uuid   
          
    IFCTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        ifcClass:
          type: string
          format: uuid      
          
    AiaDomainSpecificModelForPublicRequest:
      required:
        - referencedIds
      type: object
      properties:
        filterGuids:
          type: array
          description: GUIDs der Filter, die die zu liefernden Fachmodelle besitzen müssen
          items:
            type: string
            description: GUIDs der Filter, die die zu liefernden Fachmodelle besitzen müssen
            format: uuid
        referencedIds:
          type: array
          description: GUIDs der LOINs, die die zu liefernden Fachmodelle referenzieren müssen
          items:
            type: string
            description: GUIDs der LOINs, die die zu liefernden Fachmodelle referenzieren müssen
            format: uuid
        organisationGuids:
          uniqueItems: true
          type: array
          description: GUIDs der Organisationen, denen die Fachmodelle angehören müssen
          items:
            type: string
            description: GUIDs der Organisationen, denen die Fachmodelle angehören müssen
            format: uuid
        searchString:
          type: string
          description: Teilstring, den die Namen der zu liefernden Fachmodelle beinhalten müssen
        contextIds:
          type: array
          description: GUIDs der Kontextinformationen, die die zu liefernden Fachmodelle referenzieren müssen
          items:
            type: string
            description: GUIDs der Kontextinformationen, die die zu liefernden Fachmodelle referenzieren müssen
            format: uuid
        includeDeprecated:
          type: boolean
          description: true, wenn auch veraltete Fachmodelle mitgeliefert werden sollen
        pageNumber:
          type: integer
          description: Laufende Nummer der Ergebnisseite
          format: int32      
    SimpleDomainSpecificModelPublicDto:
      type: object
      properties:
        name:
          type: string
        dataFormats:
          type: array
          items:
            type: string
        description:
          type: string
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        organisation:
          type: string
        visibility:
          type: string
          enum:
            - PUBLIC
            - SECURED
            - CHILD
            - PRIVATE
        constructionTypes:
          type: array
          items:
            type: string
        projectPhases:
          type: array
          items:
            type: string
        purposes:
          type: array
          items:
            type: string
        actors:
          type: array
          items:
            type: string
        domainSpecificModelTypes:
          type: array
          items:
            type: string
        filters:
          type: array
          items:
            type: string      
            
    AIADomainSpecificModelPublicDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdDate:
          type: string
          format: date-time
        dateOfActivation:
          type: string
          format: date-time
        dateOfLastChange:
          type: string
          format: date-time
        dateOfRevision:
          type: string
          format: date-time
        dateOfVersion:
          type: string
          format: date-time
        dateOfDeactivation:
          type: string
          format: date-time
        guid:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        organisationId:
          type: string
          format: uuid
        organisationName:
          type: string
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        buildNumber:
          type: integer
          format: int64
        exportFormats:
          uniqueItems: true
          type: array
          items:
            type: string
        templateType:
          type: string
          enum:
            - COMPLETED_TEMPLATE
            - UNCOMPLETED_TEMPLATE
            - PROJECT_TEMPLATE
        chapters:
          type: array
          items:
            $ref: '#/components/schemas/ChapterPublicReference'
        loins:
          type: array
          items:
            $ref: '#/components/schemas/LoinPublicReference'
        dataFormats:
          uniqueItems: true
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/IFCDto'
              - $ref: '#/components/schemas/OKSTRADto'
              - $ref: '#/components/schemas/OtherDto'      
              
    ChapterPublicReference:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
        chapterNumber:
          type: string
        pleaseChange:
          type: boolean
    LoinPublicReference:
      type: object
      properties:
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        name:
          type: string          
          
    AiaContextInfoPublicRequest:
      type: object
      properties:
        filterGuids:
          type: array
          description: GUIDs der Filter, die die zu liefernden Kontextinformationen besitzen müssen
          items:
            type: string
            description: GUIDs der Filter, die die zu liefernden Kontextinformationen besitzen müssen
            format: uuid
        contextType:
          type: string
          description: Spezifischer Kontextinformationstyp
        organisationGuids:
          uniqueItems: true
          type: array
          description: GUIDs der Organisationen, denen die Kontextinformationen angehören müssen
          items:
            type: string
            description: GUIDs der Organisationen, denen die Kontextinformationen angehören müssen
            format: uuid
        searchString:
          type: string
          description: Teilstring, den die Namen der zu liefernden Kontextinformationen beinhalten müssen
        contextIds:
          type: array
          description: GUIDs der Kontextinformationen, die die zu liefernden Kontextinformationen referenzieren müssen
          items:
            type: string
            description: GUIDs der Kontextinformationen, die die zu liefernden Kontextinformationen referenzieren müssen
            format: uuid
        includeDeprecated:
          type: boolean
          description: true, wenn auch veraltete Kontextinformationen mitgeliefert werden sollen
        pageNumber:
          type: integer
          description: Laufende Nummer der Ergebnisseite
          format: int32      

    SimpleContextInfoPublicDto:
      type: object
      properties:
        name:
          type: string
        contextType:
          type: string
          enum:
            - CONSTRUCTION_TYPE
            - PURPOSE
            - PROJECT_PHASE
            - ACTOR
            - DOMAIN_SPECIFIC_MODEL_TYPE
        alternativeIdentifier:
          type: string
        description:
          type: string
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        organisation:
          type: string
        visibility:
          type: string
          enum:
            - PUBLIC
            - SECURED
            - CHILD
            - PRIVATE
        constructionTypes:
          type: array
          items:
            type: string
        projectPhases:
          type: array
          items:
            type: string
        purposes:
          type: array
          items:
            type: string
        actors:
          type: array
          items:
            type: string
            
            
    AIAContextInfoPublicDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdDate:
          type: string
          format: date-time
        dateOfActivation:
          type: string
          format: date-time
        dateOfLastChange:
          type: string
          format: date-time
        dateOfRevision:
          type: string
          format: date-time
        dateOfVersion:
          type: string
          format: date-time
        dateOfDeactivation:
          type: string
          format: date-time
        guid:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        organisationId:
          type: string
          format: uuid
        organisationName:
          type: string
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        buildNumber:
          type: integer
          format: int64
        exportFormats:
          uniqueItems: true
          type: array
          items:
            type: string
        templateType:
          type: string
          enum:
            - COMPLETED_TEMPLATE
            - UNCOMPLETED_TEMPLATE
            - PROJECT_TEMPLATE
        chapters:
          type: array
          items:
            $ref: '#/components/schemas/ChapterPublicReference'
        contextType:
          type: string
          enum:
            - CONSTRUCTION_TYPE
            - PURPOSE
            - PROJECT_PHASE
            - ACTOR
            - DOMAIN_SPECIFIC_MODEL_TYPE
        alternativeIdentifier:
          type: string        
            
    AiaProjectForPublicRequest:
      required:
        - referencedIds
      type: object
      properties:
        referencedIds:
          type: array
          description: GUIDs der Fachmodelle/Projektvorlagen, die die zu liefernden Projekte referenzieren müssen
          items:
            type: string
            description: GUIDs der Fachmodelle/Projektvorlagen, die die zu liefernden Projekte referenzieren müssen
            format: uuid
        organisationGuids:
          uniqueItems: true
          type: array
          description: GUIDs der Organisationen, denen die Projekte angehören müssen
          items:
            type: string
            description: GUIDs der Organisationen, denen die Projekte angehören müssen
            format: uuid
        searchString:
          type: string
          description: Teilstring, den die Namen der zu liefernden Projekte beinhalten müssen
        contextIds:
          type: array
          description: GUIDs der Kontextinformationen, die die zu liefernden Projekte referenzieren müssen
          items:
            type: string
            description: GUIDs der Kontextinformationen, die die zu liefernden Projekte referenzieren müssen
            format: uuid
        includeDeprecated:
          type: boolean
          description: true, wenn auch veraltete Projekte mitgeliefert werden sollen
        pageNumber:
          type: integer
          description: Laufende Nummer der Ergebnisseite
          format: int32        
    SimpleAiaProjectPublicDto:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        organisation:
          type: string
        visibility:
          type: string
          enum:
            - PUBLIC
            - SECURED
            - CHILD
            - PRIVATE
        constructionTypes:
          type: array
          items:
            type: string
        projectPhases:
          type: array
          items:
            type: string
        purposes:
          type: array
          items:
            type: string
        actors:
          type: array
          items:
            type: string
        domainSpecificModelTypes:
          type: array
          items:
            type: string        
            
    AIAProjectPublicDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdDate:
          type: string
          format: date-time
        dateOfActivation:
          type: string
          format: date-time
        dateOfLastChange:
          type: string
          format: date-time
        dateOfRevision:
          type: string
          format: date-time
        dateOfVersion:
          type: string
          format: date-time
        dateOfDeactivation:
          type: string
          format: date-time
        guid:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        organisationId:
          type: string
          format: uuid
        organisationName:
          type: string
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        buildNumber:
          type: integer
          format: int64
        exportFormats:
          uniqueItems: true
          type: array
          items:
            type: string
        templateType:
          type: string
          enum:
            - COMPLETED_TEMPLATE
            - UNCOMPLETED_TEMPLATE
            - PROJECT_TEMPLATE
        chapters:
          type: array
          items:
            $ref: '#/components/schemas/ChapterPublicReference'
        coordinateSystem:
          $ref: '#/components/schemas/CoordinateSystem'
        models:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/AIADomainSpecificModelPublicReference'
        automaticDomainSpecificModels:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/AutomaticDomainSpecificModelEntryPublicReference'
        dataFormats:
          uniqueItems: true
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/IFCDto'
              - $ref: '#/components/schemas/OKSTRADto'
              - $ref: '#/components/schemas/OtherDto'     
              
    CoordinateSystem:
      type: object
      properties:
        name:
          type: string
        zone:
          type: string
        east:
          type: number
        north:
          type: number
        height:
          type: number          
    AIADomainSpecificModelPublicReference:
      type: object
      properties:
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        name:
          type: string      
          
    AutomaticDomainSpecificModelEntryPublicReference:
      type: object
      properties:
        contexts:
          type: array
          items:
            $ref: '#/components/schemas/ContextInfoPublicReference'
        loins:
          type: array
          items:
            $ref: '#/components/schemas/LoinPublicReference'      
            
    AiaTemplateForPublicRequest:
      type: object
      properties:
        organisationGuids:
          uniqueItems: true
          type: array
          description: GUIDs der Organisationen, denen die LOINs angehören müssen
          items:
            type: string
            description: GUIDs der Organisationen, denen die LOINs angehören müssen
            format: uuid
        searchString:
          type: string
          description: Teilstring, den die Namen der zu liefernden LOINs beinhalten müssen
        contextIds:
          type: array
          description: GUIDs der Kontextinformationen, die die zu liefernden LOINs referenzieren müssen
          items:
            type: string
            description: GUIDs der Kontextinformationen, die die zu liefernden LOINs referenzieren müssen
            format: uuid
        projectTemplate:
          type: boolean
          description: true, wenn die Vorlage eine Projektvorlage ist
        template:
          type: boolean
          description: true, wenn die Vorlage eine Teilvorlage ist
        includeDeprecated:
          type: boolean
          description: true, wenn auch veraltete LOINs mitgeliefert werden sollen
        pageNumber:
          type: integer
          description: Laufende Nummer der Ergebnisseite
          format: int32        
            
    SimpleAiaTemplatePublicDto:
      type: object
      properties:
        name:
          type: string
        templateType:
          type: string
          enum:
            - COMPLETED_TEMPLATE
            - UNCOMPLETED_TEMPLATE
            - PROJECT_TEMPLATE
        description:
          type: string
        id:
          type: string
          format: uuid
        guid:
          type: string
          format: uuid
        version:
          type: string
        organisation:
          type: string
        visibility:
          type: string
          enum:
            - PUBLIC
            - SECURED
            - CHILD
            - PRIVATE
        constructionTypes:
          type: array
          items:
            type: string
        projectPhases:
          type: array
          items:
            type: string
        purposes:
          type: array
          items:
            type: string
        actors:
          type: array
          items:
            type: string
        domainSpecificModelTypes:
          type: array
          items:
            type: string
        filters:
          type: array
          items:
            type: string        
            
    AIATemplatePublicDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdDate:
          type: string
          format: date-time
        dateOfActivation:
          type: string
          format: date-time
        dateOfLastChange:
          type: string
          format: date-time
        dateOfRevision:
          type: string
          format: date-time
        dateOfVersion:
          type: string
          format: date-time
        dateOfDeactivation:
          type: string
          format: date-time
        guid:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        organisationId:
          type: string
          format: uuid
        organisationName:
          type: string
        versionNumber:
          type: integer
          format: int64
        revisionNumber:
          type: integer
          format: int64
        buildNumber:
          type: integer
          format: int64
        exportFormats:
          uniqueItems: true
          type: array
          items:
            type: string
        templateType:
          type: string
          enum:
            - COMPLETED_TEMPLATE
            - UNCOMPLETED_TEMPLATE
            - PROJECT_TEMPLATE
        chapters:
          type: array
          items:
            $ref: '#/components/schemas/ChapterPublicReference'        
            
    FilterForPublicDto:
      required:
        - guid
        - name
      type: object
      properties:
        name:
          type: string
        guid:
          type: string
          format: uuid
    FilterGroupForPublicDto:
      required:
        - guid
        - name
      type: object
      properties:
        name:
          type: string
        guid:
          type: string
          format: uuid
        filter:
          type: array
          items:
            $ref: '#/components/schemas/FilterForPublicDto'        
